* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 7%;
  background: #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 100;
}
.nav_links ul {
  display: flex;
}
.nav_links ul li {
  list-style: none;
}
.nav_links ul li a {
  text-decoration: none;
  margin-left: 20px;
  color: #0c2461;
  font-weight: 500;
  transition: all 0.5s;
}
.nav_links ul li a.active,
.nav_links ul li a:hover {
  color: #f1c40f;
}

.join-btn:hover{
  background-color: #f1c40f;
  color: #fff !important;
  outline: none !important;
  /* border: 1px solid #000; */
}
/* home-------- */

.home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./images/back.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 40px;
}
.home h2 {
  color: #fff;
  font-size: 40px;
  letter-spacing: 1px;
}
.home p {
  color: #fff;
  width: 50%;
  line-height: 25px;
}
.home a {
  text-decoration: none;
  padding: 13px 35px;
  background-color: #fff;
  font-weight: 500;
  border-radius: 5px;
  margin-right: 10px;
}
.btn {
  margin-top: 30px;
}
.home a.blue {
  color: #fff;
  background: #0c2461;
  transition: all 0.5s ease;
}
.home a.blue:hover {
  color: #0c2461;
  background: #fff;
}
.home a.yellow {
  color: #fff;
  background: #f1c40f;
  transition: all 0.5s ease;
}
.home a.yellow:hover {
  color: #f1c40f;
  background-color: #fff;
}

/* ---features---- */

.features {
  text-align: center;
  padding: 7%;
}
.fea-box {
  background-color: #f9f9ff;
  text-align: center;
  box-shadow: 2px 2px 35px rgba(0, 0, 0, 0.1);
  padding: 30px;
  transition: all .5s ease;
  cursor: pointer;
  outline-offset: -1rem;
}
.features .fea-box:hover{
  outline: 2px solid #0c2461;
  outline-offset: 0px;
}
.features .fea-box i {
  font-size: 40px;
  padding: 13px 0 7px 0;
}
.features h1,
h3,
i,
span {
  color: #1b1464;
  /* margin-left: 20px; */
}
.features p {
  color: #777;
  margin-left: 20px;
}
.feature-base {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 30px;
  gap: 30px;
  margin-top: 20px;
}
/* ----course------ */

.course {
  text-align: center;
  padding-top: 40px;
}
.course h1 {
  color: #1b1464;
  margin-top: 50px;
}
.course p {
  color: #777;
}
.courses {
  text-align: start;
  background-color: #f9f9ff;
  height: 100%;
  position: relative;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}
.courses img {
  width: 100%;
  height: 60%;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
.course_box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
  margin-top: 80px;
  padding: 3% 60px;
  margin-bottom: 80px;
}
.courses .details {
  padding: 15px 15px 0 15px;
}
.courses .details i {
  color: #f1c40f;
}
.courses .details h4 {
  color: #0c2461;
  padding: 5px;
}
.courses .details span {
  color: #777;
}
.price {
  background-color: #0c2461;
  color: #fff;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  border-radius: 50%;
  position: absolute;
  right: 12px;
  bottom: 100px;
}
.registration {
  background-image: linear-gradient(
      rgba(99, 112, 168, 0.5),
      rgba(99, 112, 168, 0.5)
    ),
    url(./images/signup.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  padding: 2% 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.reminder {
  color: #fff;
}
.reminder .time {
  display: flex;
  margin-top: 40px;
}
.reminder .time .date {
  text-align: center;
  padding: 13px 33px;
  background: rgba(255, 255, 255, 0.25);
  -webkit-backdrop-filter: blur(4px);
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
  border-radius: 5px;
  margin: 0 5px 10px 5px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  cursor: pointer;
  font-weight: 400;
}
.form {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 40px;
  box-shadow: 3px 3px 8pxpx rgba(31, 38, 135, 0.37);
  border-radius: 5px;
}
.form input {
  margin: 15px 0;
  outline: none;
  padding: 15px 10px;
  border: 1px solid rgb(144, 40, 241);
  border-radius: 3px;
}
.form .btn a {
  text-decoration: none;
  background-color: #f1c40f;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
}
.form .btn a:hover {
  color: #1b1464;
}
/* ---experts------ */

.experts {
  text-align: center;
  padding: 7%;
}
h1 {
  font-size: 30px;
  color: #0c2461;
}
p {
  color: #777;
}
.expert_box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}
.expert_box .profile {
  background: #fafaf1;
  padding: 30px 30px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}
.expert_box .profile p {
  font-size: 13px;
  color: #555;
}
.pro-links {
  margin-top: 10px;
}
.pro-links i {
  padding: 10px 13px;
  border: 1px solid rgb(21, 21, 100);
  cursor: pointer;
  transition: all 0.5s;
}
.pro-links i:hover {
  background: rgb(21, 21, 100);
  color: #fff;
  border: 1px solid rgb(21, 21, 100);
  cursor: pointer;
}
/* ----footer----- */

.footer {
  padding: 50px;
  background: #0c2461;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer h3 {
  color: #fff;
  margin-bottom: 20px;
}
.footer li {
  list-style: none;
  color: #999;
  padding: 10px 0;
  cursor: pointer;
  transition: all 0.3s ease;
}
.footer li:hover {
  color: rgb(237, 218, 255);
}
.footer .subscribe {
  margin-top: 20px;
}
.footer .subscribe input {
  width: 220px;
  padding: 13px 12px;
  border: none;
  outline: none;
  border-radius: 5px;
}
.footer .subscribe a {
  text-decoration: none;
  background: #f1c40f;
  padding: 12px 12px;
  color: #fff;
  border-radius: 5px;
}
.footer .subscribe a:hover {
  color: #0c2461;
}
.copyright {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.copyright .pro-links {
  margin-top: 0;
}
.copyright .pro-links i {
  padding: 10px 13px;
  background: #fff;
  cursor: pointer;
  transition: all 0.5s;
}
.copyright .pro-links i:hover {
  background: #f1c40f;
  color: #fff;
}
/* ----about us ------------ */
.home_about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./images/back1.jpg);
  background-position: center;
  background-size: cover;
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 40px;
}

/* ---about-container---- */

.about-container{
  display: flex;
  align-items: center;
  padding: 7% 6%;
}
.about-container h2, h5{
  color: #0c2461;
}
.about-text{
  padding: 60px 0 0 60px;
  flex-basis: 40%
}
.about-fea{
  display: flex;
  align-items: center;
  margin-top: 30px;

}
.about-fea img{
  margin-right:  20px;
}
/* ----trust--- */
.trust{
  text-align: center;
 
}
.trust-img{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 7%;
}
.trust-img img{
  width: 100px;
}
/* ----blog------ */
.home_blog {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./images/back2.jpg);
  background-position: center;
  background-size: cover;
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 40px;
}
.blog-container{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding: 7% 3%;
}
.blogs{
  flex-basis: 60%;
}
.cate{
  flex-basis: 30%;
}
.blogs .post img{
  width: 100%;
  border-radius: 19px;
}

.post a{
  background: #0c2461;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  transition: all .5s;
}
.post a:hover{
  color: #fff;
  background-color: #f1c40f;
}
.cate h2{
 color: #0c2461;
 padding-bottom: 7px;
}
.cate a{
text-decoration: none;
line-height: 45px;
font-weight: 500;
color: #555;
}
/* ----course inner---------- */
.home_course {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./images/back1.jpg);
  background-position: center;
  background-size: cover;
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 40px;
}

.course_inner{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5%;
}
 .left{
  flex-basis: 70%;
}
 .left img{
  border-radius: 19px;
}
.right{
  flex-basis: 25%;
}
 .left .details{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
 .left .details .c-name{
  width: 70%;
  padding-top: 10px;
}
.c-name h2{
  color: #0c2461;
  margin-bottom: 10px ;
}
 .left .details .c-name p{
  margin-top: 10px ;

}
  .c-name .star i{
  color: #f1c40f;
}
.cost{
  color:#be2edd;
  padding: 10px 13px;
  background-color: rgba(88, 56, 252, 0.1);
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
  margin-top: 20px;
}
.tutor{
  display: flex;
  align-items: center;
  padding: 10px;
}
.tutor img{
  margin-right: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.course-overview{
  margin-top: 20px;
}
.course-overview h3{
  padding-bottom: 10px;
}
.learn p i{
  padding-bottom: 10px;
  margin-right: 10px;
}

/* ----enroll---- */
.enroll{
  background-color: #ecf0f1;
  width: 320px;
  padding: 20px 20px 30px 40px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}
.enroll i{
  margin-right: 10px;
  color: #be2edd;
  text-align: center;
}
.enroll h3{
  margin-bottom: 20px;
}
.enroll p{
  margin-top: 15px;
}
.enroll .enroll-btn{
  padding: 40px 0px 25px 0 ;
  /* margin: auto; */
  text-align: center;
}
.enroll .enroll-btn a{
  text-decoration: none;
  background: #0c2461;
  padding: 10px 50px;
  color: #fff;
  border-radius: 5px;
}

/* -----contact---- */
.contact{
  padding: 8vw;
  display: flex;
}
.contact .getin{
  width: 320px;
}
.getin-detail h3{
  padding: 20px 0;
}
.getin-detail div{
  display: flex;
  /* align-items: center; */
}
.getin-detail div .fa-solid{
  font-size: 16px;
  color:#be2edd;
  margin-right: 10px;
  text-align: center;
  line-height: 22px;
}
.getin-detail .pro-links .fab{
  margin-right: 10px;
}
.contact .right{
  flex-basis: 60%;
  background-color: #f5f6fa;
  padding: 10px 40px 40px 40px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 100px;
}
.form-row{
  margin-top: 20px ;
  width: 100%;
}
.form-row  input{
  padding: 10px;
  width: 49%;
  margin-bottom: 20px;
  border: none;
  outline: none;
}
.form-col  input{
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  border: none;
  outline: none;
}
.form-col  textarea{
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  border: none;
  outline: none;
}
.form-col a{
  text-decoration: none;
  color: #fff;
  background-color: #0c2461;
  padding: 10px 30px;
  border-radius: 5px;
  transition: all .5s ease-in;
}
.form-col a:hover{
  color: #fff;
  background-color: #f1c40f;
}
.map iframe{
  width: 100%;
}
.map{
  margin-bottom:100px;
}